atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/.storage
atom/atom.symlink/compile-cache/
atom/atom.symlink/packages
atom/atom.symlink/storage
atom/atom.symlink/nohup.out

config/config.symlink/*
!config/config.symlink/cmus
!config/config.symlink/fontconfig
!config/config.symlink/git
!config/config.symlink/10-symbols.conf

vim/vim.symlink/bundle
vim/vim.symlink/sessions

git/gitconfig.symlink
git/lolcommits.symlink

zsh/localrc.symlink

python/get-pip.py

antigen/antigen.symlink

elinks/elinks.symlink/cookies
elinks/elinks.symlink/globhist
elinks/elinks.symlink/gotohist

haskell/cabal.symlink/logs
haskell/cabal.symlink/setup*
haskell/cabal.symlink/where-is-my-stuff.txt
