atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/.storage
atom/atom.symlink/compile-cache/
atom/atom.symlink/packages
atom/atom.symlink/storage
atom/atom.symlink/themes
atom/atom.symlink/nohup.out
config/config.symlink/Atom
config/config.symlink/google-chrome
vim/vim.symlink/bundle

git/gitconfig.symlink
