[Unit]
Description=Process the system bucket.
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
# Execute job if it missed a run due to machine being off
Persistent=true
# Run 15 min after boot for the first time
OnBootSec=15min
OnUnitActiveSec=5min
Unit=bkt.service

[Install]
WantedBy=timers.target
