"*":
  "autocomplete-python":
    useKite: false
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1482130697006
  "command-palette": {}
  core:
    disabledPackages: [
      "relative-numbers"
    ]
    telemetryConsent: "no"
  "easy-motion-redux":
    replaceCharacters: "uhetonasidpg.c,r'lyfkmjwqv;zxb"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting": {}
  "file-icons":
    coloured: false
  "git-log": {}
  "git-plus": {}
  "highlight-line": {}
  "julia-client": {}
  "latex-plus": {}
  latextools: {}
  linter:
    statusIconScope: "File"
  "markdown-preview-plus": {}
  pigments:
    extendAutocompleteToVariables: true
  proton:
    core:
      inputProvider: "vim-mode-plus"
      leaderKey: "space"
      modeKey: ","
      "post-init-timeout": 3000
      quickOpenProvider: "normal"
      relativeLineNumbers: false
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
        "lang/clojure"
        "lang/html"
        "lang/json"
        "lang/julia"
        "lang/latex"
        "lang/markdown"
        "lang/python"
        "lang/sass"
        "apps/notes"
      ]
      showTabBar: true
      whichKeyDelay: 0.4
      whichKeyDelayOnInit: false
      whichKeyDisabled: false
      wipeUserConfigs: true
    latex:
      "latexmk-provider": "latex"
  "spell-check": {}
  "theme-switch":
    profiles: [
      "nucleus-dark-ui atom-dark-fusion-syntax"
      "atom-material-ui atom-material-syntax"
      "atom-dark-ui atom-dark-syntax"
      "atom-light-ui atom-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "tool-bar": {}
  "uber-juno": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
"tree-view":
  hideVcsIgnoredFiles: false
