"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter-julia"
      "relative-numbers"
      "Parinfer"
      "proto-repl"
      "linter-clojure"
      "python-yapf"
      "linter-markdown"
      "environment"
      "metrics"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "7f870440-db64-4aa1-a1df-2085387ed9f6"
  "julia-client":
    consoleOptions: {}
    firstBoot: false
    juliaOptions: {}
    uiOptions:
      enableMenu: true
      enableToolBar: true
  "latex-plus":
    texBin: "/Library/TeX/texbin/tex"
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "E221"
      "E203"
    ]
  "linter-ui-default":
    panelHeight: 292
  "status-bar": {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: false
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
".python.source":
  editor:
    tabType: "soft"
"tree-view":
  hideVcsIgnoredFiles: false
