'atom-text-editor':
  'ctrl-i': 'editor:auto-indent',
  'ctrl-alt-l': 'editor:split-selection-into-lines',
  'alt-p': 'git-plus:push'

'.platform-darwin atom-text-editor':
  'cmd-i': 'editor:auto-indent',

'.platform-darwin atom-workspace':
  'cmd-?': 'hashrocket:insert',

'atom-workspace atom-text-editor:not([mini])':
  'cmd-alt-down': 'editor:add-selection-below',
  'cmd-alt-up': 'editor:add-selection-above'

'atom-workspace, atom-workspace atom-text-editor':
  'cmd-shift-M': 'markdown-preview:toggle'
