if [ "$(uname -s)"=="Darwin" ]
  then
  export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"
  export PATH="$PATH:/usr/local/opt/coreutils/libexec/gnubin:/usr/local/opt/coreutils/libexec/gnuman"
  export PATH="$PATH:/opt/X11/bin:/opt/pkgconfig/bin"
  export PATH="$PATH:/Library/TeX/texbin"
  export PATH="$PATH:$HOME/.rbenv/bin"

  export WORKON_HOME=$HOME/.virtualenvs
  source /usr/local/bin/virtualenvwrapper.sh

  eval "$(rbenv init -)"
  eval "$(thefuck --alias)"
fi
