if [[ $OS == "Darwin" ]]; then
  export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"
  export PATH="$PATH:/opt/X11/bin:/opt/pkgconfig/bin"
  export PATH="$PATH:/Library/TeX/texbin"
  export PATH="$PATH:$HOME/.git-webui/release/libexec/git-core"
  export PATH="$PATH:$HOME/.rbenv/bin"
  export PATH="$PATH:$HOME/.local/bin"

  export WORKON_HOME=$HOME/.virtualenvs
  VIRTUALENVWRAPPER_PYTHON=python3
  source virtualenvwrapper.sh

elif [[ $OS == "Linux" ]]; then
  export WORKON_HOME=$HOME/.virtualenvs
  VIRTUALENVWRAPPER_PYTHON=python3
  source virtualenvwrapper.sh
fi

export PATH="$PATH:/$HOME/.dotfiles/bin"
export XKB_DEFAULT_LAYOUT=us;
export XKB_DEFAULT_VARIANT=dvorak-alt-intl;
export XKB_DEFAULT_MODEL=pc101;
